:root {
  --main-bg-color: #1f1f1f;
  --main-accent-color3: #414040;
  --main-accent-color2: #2e2e2e;
  --main-accent-color: #afafaf;
  --main-txt-color: #e8eaed;
}

body {
  margin: 0px;
  background-color: var(--main-accent-color2);
}

.info-bar {
  background-color: var(--main-bg-color);
  height: 50px;
  padding: 15px;
  display: flex;
  border-bottom: 2px solid var(--main-accent-color2);
}

.info-bar-img {
  object-fit: contain;
  height: 50px;
  border-radius: 10px;
  background-color: var(--main-accent-color2);
}

.info-bar-item:hover {
  background-color: var(--main-accent-color3);
}

.info-bar-item {
  transition: 0.2s;
  margin: 0px 5px;
}

.info-bar-item.l {
  margin: 0px;
  margin-left: 5px;
}

.info-bar-img.l {
  border-radius: 10px 0px 0px 10px;
  border-right: 1px solid var(--main-accent-color3);
}

.info-bar-item.m {
  margin: 0px;
}

.info-bar-img.m {
  border-radius: 0px;
  border-right: 1px solid var(--main-accent-color3);
  border-left: 1px solid var(--main-accent-color3);
}

.info-bar-item.r {
  margin: 0px;
  margin-right: 5px;
}

.info-bar-img.r {
  border-radius: 0px 10px 10px 0px;
  border-left: 1px solid var(--main-accent-color3);
}

.long-input {
  opacity: 100%;
  width: 10px;
  flex-grow: 1;
  font-size: 20px;
  background-color: var(--main-accent-color2);
  border: none;
  border-radius: 10px;
  padding: 10px;
  padding-left: 15px;
  color: var(--main-accent-color);
  text-overflow: ellipsis;
}

p {
  font-family: helvetica;
}

.logo-button {
  padding: 0px;
  margin: 0px;
  background-color: #00000000;
  border: none;
}

.website-iframe {
  width: 100%;
  height: calc(100vh - 80px - 2px);
  border: none;
  transition: 100ms;
}

.logo-img {
  height: 256px;
  width: 256px;
  margin-top: 50px;
}

h1 {
  font-family: helvetica;
  color: var(--main-txt-color);
  font-size: 50px;
  font-weight: 600;
}

.title-div {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: var(--main-bg-color);
  border-radius: 0px 0px 45px 45px;
}

.title {
  text-align: center;
  margin-bottom: 0px;
}

.undertitle {
  text-align: center;

  font-family: helvetica;
  color: var(--main-txt-color);
  font-size: 25px;
  font-weight: 100;
  margin: 0px;
}

.start-button {
  background-color: var(--main-txt-color);
  color: var(--main-accent-color2);
  border: none;
  border-radius: 20px;
  padding: 15px 25px;
  margin: 25px 0px;
  font-size: 30px;
  font-weight: 500;
  transition: 0.2s;
}

.start-button:hover {
  box-shadow: 0px 5px 15px #000000;
  cursor: pointer;
}

.info-card-div {
  flex-grow: 1;
  background-color: var(--main-bg-color);
  border-radius: 45px;
  padding: 25px 25px;
  margin: 0px 10px;
}

.info-card-text {
  color: var(--main-txt-color);
  margin: 10px;
  margin-bottom: 0px;
  text-wrap: stable;
}

.info-cards {
  display: flex;
  margin: 25px;
  width: calc(100vw - 50px);
}

.info-card-title {
  background-color: var(--main-txt-color);
  color: var(--main-accent-color2);
  border: none;
  border-radius: 20px;
  padding: 15px 25px;
  margin: 0px;
  font-size: 30px;
  font-weight: 500;
  text-align: center;
  word-wrap: "-";
}

.loader-div {
  position: absolute;
  top: 82px;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 1;
  background-color: #1f1f1fa2;
}

.blur {
  filter: blur(10px);
}

.loader1 {
  height: 120px;
  width: 120px;

  border-radius: 50%;
  border: 16px solid var(--main-accent-color2);
  border-top: 16px solid var(--main-txt-color);

  z-index: 2;
  position: absolute;

  top: calc(50% - 152px / 2);
  left: calc(50% - 152px / 2);

  animation: spin 1.5s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader2 {
  height: 100px;
  width: 100px;

  border-radius: 50%;
  border: 12px solid var(--main-accent-color2);
  border-top: 12px solid var(--main-txt-color);

  z-index: 2;
  position: absolute;

  top: calc(50% - 124px / 2);
  left: calc(50% - 124px / 2);

  animation: reverse-spin 2s linear infinite;
}

@keyframes reverse-spin {
  0% {
    transform: rotate(540deg);
  }
  100% {
    transform: rotate(180deg);
  }
}
